{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <p>
        Hi, I'm Brian Kienzle. I'm a jack of all trades, and I love learning new things. I've spent 
        many years as an IT auditor and penetration tester. Right now, I'm focused on improving
        my coding skills.
    </p>
    <p>
        The purpose of this blog is for me to have a place to talk about any personal projects I've 
        been working on. These will almost always be at least somewhat technical in nature.
    </p>
</div>
{% endblock content %}