{% extends "base.html" %}
      
{% block content %}

    

    {% for post in post_list %}
        <div class='card my-4'>
          <div class='card-header'>
              <div class='container d-flex flex-row'>
                {{ post.title }}
              </div>
              <div class='container d-flex flex-row-reverse'>
                <small>by {{ post.author }} on {{ post.created_on}}</small>
              </div>
          </div>
          <div class='card-body'>

            <p>{{post.content|slice:":200" }}</p>
            
            <div class='d-flex flex-row-reverse'>
              <a href="{% url 'post_detail' post.slug  %}" class='btn btn-secondary'>Read More</a>
            </div>
          </div>
        </div>
    {% endfor %}

{%endblock%}